.Root {
    max-height: 100vh;
    text-align: center;
}

.router-nav {
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 1em;
    flex-basis: auto;
    flex-wrap: wrap;

    & a {
        text-decoration: none;
        color: #FFF;
        /* border: 1px solid #FFF; */
        flex-grow: 1;
    }
}

.router-nav > *.active {
    background-color: #5e1c07;
    color: #000;
    padding: 0.5em 1em;
}

.router-nav > * {
    /* width: 20em; */
    height: 5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 0.5em;
    transition: all 0.15s;

    &:active {
        transform: scaleY(0.9) scaleX(1.1);
    }
}