.Root {
    max-height: 100vh;
    text-align: center;
}

.router-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;

    & a {
        text-decoration: none;
        color: #FFF;
        /* border: 1px solid #FFF; */
    }
}

.router-nav > *.active {
    background-color: #5e1c07;
    color: #000;
    padding: 0.5em 1em;
}

.router-nav > * {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    margin: 1em;
}