* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

body {
    background-color: #1c1c1c;
    color: rgb(255, 198, 119);;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    /* transition: 1s; */
    /* animation: backgroundAnimation 1s infinite; */
    background: url("./assets/background.jpg");
    background-size:cover;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    /* background-color: #000000d1; */
    border-radius: 1em;
    width: 60%;
    height: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    perspective: 800px;
}

canvas {
    height: 1em;
    display: flex;
}